.App {
  padding: 50px;
  min-height: 100vh;
  background-color: #ccc;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
}

.details-wrapper,
.list-wrapper {
  background-color: #ddd;
  max-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-wrapper {
  max-height: 100vh;
}

.details-wrapper__title {
  margin-bottom: 20px;
  width: 100%;
}

.details-wrapper__text {
  margin-bottom: 20px;
  width: 100%;
  min-height: 200px;
}


.details-wrapper__btns_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
}


.list-wrapper {

}



