body {
  margin: 0;
  font-family: 'Verdana', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --blue_1: #826aff;
  --blue_2: #37336e;
  --blue_3: #b3c1f4b3;
  --blue_4: #6d51ff;
  --shadow_3: rgba(130, 106, 255, 0.2);
}

input, textarea {
  outline: none;
  border: 1px solid var(--blue_3);
  transition: border 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
  resize: none;
}

button {
  outline: none;
  border: 1px solid var(--blue_1);
  background-color: var(--blue_4);
  color: white;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(68, 35, 110);
  color: white;
}

input:focus, textarea:focus {
  border: 1px solid var(--blue_1);
  box-shadow: 0 0 0 3px var(--shadow_3);
}